@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orangeCustom: #ef5143;
  --beigeCustom: #fee9ce;
  --golden: #ffb261;
}

.myFont {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.textFont {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--beigeCustom);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom breakpoint for 3xl */
  --breakpoint-3xl: 2160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom 3xl breakpoint support */
@media (min-width: 2160px) {
  .text-3xl-custom {
    font-size: 50rem;
  }
}
